@model CommonLayer.Model.Employee

@{
    ViewData["Title"] = "Create";
}
<link href="~/css/create.css" rel="stylesheet" />
@*<style>
    body {
        margin-bottom: 60px;
        background-image: linear-gradient(45deg, black, transparent);
    }
    .row{
        background-color:grey;
    }*@
</style>

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="form-group">
                <label asp-for="Emp_id" class="control-label"></label>
                <input asp-for="Emp_id" class="form-control" />
                <span asp-validation-for="Emp_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp_name" class="control-label"></label>
                <input asp-for="Emp_name" class="form-control" />
                <span asp-validation-for="Emp_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile_img" class="control-label"></label>
                <div>
                    @Html.RadioButtonFor(Model => Model.Profile_img,"~/Asserts/Ellipse -1.png")
                   <img class="Profile-image-1 " src="~/Asserts/Ellipse -1.png"  /> 
                    @Html.RadioButtonFor(Model => Model.Profile_img,"~/Asserts/Ellipse -3.png")
                    <img class="Profile-image-1 " src="~/Asserts/Ellipse -3.png" /> 
                    @Html.RadioButtonFor(Model => Model.Profile_img,"~/Asserts/Ellipse -7.png")
                    <img class="Profile-image-1 " src="~/Asserts/Ellipse -7.png" />
                    @Html.RadioButtonFor(Model => Model.Profile_img,"/Asserts/Ellipse -8.png")
                    <img class="Profile-image-1 " src="~/Asserts/Ellipse -8.png" />
                </div>
                <span asp-validation-for="Profile_img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp_gender" class="control-label"></label><br />
               Male: @Html.RadioButtonFor(m => m.Emp_gender,"Male")
               Female: @Html.RadioButtonFor(m => m.Emp_gender,"Female")
                <span asp-validation-for="Emp_gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp_dep" class="control-label"></label>
                <input asp-for="Emp_dep" class="form-control" />
                <span asp-validation-for="Emp_dep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start" class="control-label"></label>
                <input asp-for="start" class="form-control" />
                <span asp-validation-for="start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
